.intro{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 1rem;
}
.intro h1{
    font-size: 2rem;
    line-height: 3.5rem;
}

.intro_info{
    max-width: 500px;
    padding: 1rem;
}
.line{
    width: 1px;
    height: 105px;
    background-color: var(--color-white);
    align-self: center;
    margin-right: 1rem;
    margin-left: auto;
    opacity: 0.4;
}

@media(max-width: 800px){
    .intro{
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .intro > *{
        text-align: center;
    }
    .line{
        display: none;
    }
}