:root {
   --color-primary: #E3B748;
  --color-black : #1E1E1E;
  --color-white: #FFFFFF;
  --color-grey : #1D1D1D;
}
body{
  background-color: black  !important;
  margin: 0  !important;
  color: var(--color-white)  !important;

}

*{
  font-family:  "Inter", sans-serif;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}
.swiper-slide {
  margin: 0px !important;
}
.swiper-wrapper{
  gap: 1rem !important;
}
@media screen and (max-width: 600px) {
  .swiper-container {
    width: 600px !important;
  }
}

/* changing mui accordion css */

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  background-color: var(--color-black) !important;
  border: 1px solid  rgba(255, 255, 255, .1)  !important;
}
.css-67l5gl{
  background-color:  var(--color-black) !important;
  border: 1px solid  rgba(255, 255, 255, .1)  !important;
  border-left: none  !important;
  border-right: none  !important;
}
.css-17o5nyn{
  border-left: none  !important;
  border-right: none  !important;
  padding: 1rem !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  border-left: none  !important;
  border-right: none  !important;
  padding: 0.5rem;
}





